<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>479501330749-958tjoauuj3rr4a15d9vsg08plb57kkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479501330749-958tjoauuj3rr4a15d9vsg08plb57kkp</string>
	<key>API_KEY</key>
	<string>AIzaSyCIWtegOk5aqUnpTBzAlyj_BX5JEB7YWkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>479501330749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AyuDhi-developers.MessageApp</string>
	<key>PROJECT_ID</key>
	<string>messaging-app-8d579</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-app-8d579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:479501330749:ios:400019c5fd713847</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-app-8d579.firebaseio.com</string>
</dict>
</plist>